@font-face {
    font-family: 'stymie';
    src: url('fontface/0216pl-webfont.eot');
    src: url('fontface/0216pl-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontface/0216pl-webfont.woff') format('woff'),
         url('fontface/0216pl-webfont.ttf') format('truetype'),
         url('fontface/0216pl-webfont.svg#stymieltplregular') format('svg');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'stymie';
    src: url('fontface/0217pl-webfont.eot');
    src: url('fontface/0217pl-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontface/0217pl-webfont.woff') format('woff'),
         url('fontface/0217pl-webfont.ttf') format('truetype'),
         url('fontface/0217pl-webfont.svg#stymiemdplregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'stymie';
    src: url('fontface/0218pl-webfont.eot');
    src: url('fontface/0218pl-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontface/0218pl-webfont.woff') format('woff'),
         url('fontface/0218pl-webfont.ttf') format('truetype'),
         url('fontface/0218pl-webfont.svg#stymieplbold') format('svg');
    font-weight: bold;
    font-style: normal;

}