body {
    background:#fff;
    font-family: stymie,serif;
    font-weight: 100;
    padding:0;
    margin:0;
}
a{
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
.mcoint{
    width: 810px;
    display: block;
    overflow: hidden;
    margin: auto;
}
#footer {
    width:810px;
    height:84px;
    display: block;

    background-color: #f21d54;
}
.mt{
    height: 110px;
    display: block;
    width: 810px;
    overflow: hidden;
    position: relative;
    z-index: 6;
}
.mt ul {
    width: 900px;
    display: block;
}
.mt ul li{
    float: left;
    background: transparent url('img/mtbg.png') repeat-x 0 0;
    height: 110px;
    color: #FFF;
    font-size: 28px;
    line-height: 110px;
    text-align: center;
}
.mt ul li.act, .mt ul li:hover{
    background-image: url('img/mabg_1.png');
    background-position: center top;
}
.mt ul li.x{
    line-height: 100px;
}
.mt ul li.x{
   background: transparent url('img/mtbg.png') repeat-x 0 0 !important;
}
.mt ul li.x img{
    margin: 30px 10px 0px 10px;

}

li.start{
    width: 102px;
}
li.zasady{
    width: 141px;
}
li.nagrody{
    width: 148px;
}
li.galeria{
    width: 106px;
}
li.regulamin{
    width: 175px;
}
.middle{
    background: transparent url('img/gtop.png') no-repeat 0 0;
    width: 810px;
    height: 673px;
    position: relative;
    z-index: 10;
    margin-top: -23px;
}
.middlebg{
    position: absolute;
    background: transparent url('img/gtopor.png') no-repeat 0 0;
    width: 810px;
    height: 673px;
    
    z-index: 4;
    margin-top: -23px;
}
.middle .info1{
    cursor: default;
    display: block;
    font-size: 28px;
    height: 130px;
    line-height: 30px;
    margin-left: 150px;
    margin-top: 280px;
    text-align: right;
    width: 300px;
}
.middle .info2{
    color: #DCDCDC;
    cursor: default;
    display: block;
    font-size: 30px;
    height: 130px;
    line-height: 30px;
    margin-left: auto;
    margin-top: 130px;
    text-align: center; 
}
.midcnt{
    height: 760px;

    display: block;
}
.clear{
    clear: both;
}
.clear1{
    clear: both;
    height: 1px;
}
#footer p{
    color: #FFFFFF;
    font-size: 20px;
    padding-right: 20px;
    padding-top: 40px;
    text-align: right;
}
.tcnt{
    display: block;
    width: 810px;
}
.lbt{
    float: left;
    margin-right: 30px;
    margin-top: 11px;
    overflow: hidden;
    width: 79px;
    transform: scale(1.4, 1.4);
    -ms-transform: scale(1.4, 1.4); /* IE 9 */
    -webkit-transform: scale(1.4, 1.4); /* Safari and Chrome */
    -o-transform: scale(1.4, 1.4); /* Opera */
    -moz-transform: scale(1.4, 1.4); /* Firefox */

}
.likebox{
    margin-left: 270px;
    margin-top: 64px;
}
.likebox .desc{
    float: left;
    font-size: 30px;
}
.tempheader{
    background-color: #212121;
    display: block;
    height: 140px;
    width: 810px;
}
.backlink{
    background: transparent url('img/backlink.png') no-repeat 0 0;
    height: 57px;
    margin-bottom: 27px;
    margin-left: 40px;
    margin-top: 40px;
    width: 184px;
}
.dblock{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;

}
a.dblock{
    text-decoration: none;
}
.dblock span{
    visibility: hidden;
}
.backlink a span{
    visibility: hidden;

}
.pcen{
    margin-left: 10px;
    margin-top: 67px;
    width: 800px;
}
.pcen li{
    text-align: center;
    font-size: 30px;
    background: transparent url('img/x.png') no-repeat center bottom;
}
.pcen li p{
    letter-spacing: -1px;
    line-height: 32px;
    margin-bottom: 17px;
    padding-bottom: 40px;
}
.pcen li p span.red{
    color: #f21d54;
    font-size: 25px;
    line-height: 24px;
}
.nobg{
    background-image: none !important;
}
.getuse{
    color: #F21D54;
    font-size: 44px;
    margin-bottom: 27px;
    /*margin-left: 115px;*/
    text-align: left;
}
.getuse a{
    letter-spacing: 2px;
}
.getuse a .img{
    margin-left: 50px;
}
.getuse.nagr{
    margin-left: 130px;
}
.getuse.nagr a{
    font-weight: normal;
    letter-spacing: 0px;

}
.getuse.nagr a span{
    margin-right: -20px; 
}
.tempheader h1{
    color: #EAAC2A;
    font-size: 76px;
    font-weight: bold;
    letter-spacing: -4px;
    padding-top: 60px;
    text-align: center;
}
.menav{
    background: transparent url('img/gallerymenu.png') repeat-x 0 0;
    display: block;
    height: 98px;
    margin: 22px auto auto;
    width: 744px;
}
.menav a{
    color: #FFF;
    font-size: 44px;
    line-height: 58px;
}
.menav ul li{
    float: left;
    letter-spacing: -1px;
}
.wx{
    background: transparent url('img/wx.png') no-repeat center;
    height: 69px;
    margin-left: 30px;
    margin-right: 26px;
    width: 26px;
}
.menav ul{
    margin-top: 10px;
    margin-left: 20px;
}

.point{
    background: transparent url('img/point.png') no-repeat 0 0;
    width: 755px;
    height: 33px;
    margin: 10px auto;
}
.point ul li{
    color: #FFFFFF;
    float: left;
    font-size: 20px;
    padding-top: 1px;
    text-align: center;
    width: 248px;
}
.cntslide{

}
.pagetitle{
    background: transparent url('img/step.png') no-repeat 0 0;
}
.step1 .pagetitle, .step2 .pagetitle, .step3 .pagetitle{

    width: 754px;
    height: 97px;
    margin: 20px auto;
}
.step1 .pagetitle h2, .step2 .pagetitle h2, .step3 .pagetitle h2{
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 100;
    letter-spacing: 0.8px;
    margin-left: 110px;
    padding-top: 34px; 
}
.step1 .templateselector{
    background: transparent url('img/stemplate.png') no-repeat 0 0;
    height: 87px;
    margin: 32px auto 40px;
    width: 483px;
}
.picturecount{

    display: block;
    float: left;
    height: 60px;
    margin-left: 20px;
    margin-right: 111px;
    color: transparent;
    width: 60px;
}
.mr0{
    margin-right: 0px;
}
.vhid{
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
}
.left{
    float: left;
}
.pagetitle p{
    color: #FFFFFF;
    font-size: 44px;
    padding-left: 21px;
    padding-top: 30px
}
.pictmpl{
    width: 754px;
    overflow: hidden;
    margin: auto;
}
.pictmpl div.ps{
    border: 2px solid transparent;
}
.pictmpl div.ps:hover, .pictmpl div.act{
    border: 2px solid #000;
}
.previewcontainer{
    height: 257px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    width: 754px;
}
#pic32{
    /*background: transparent url('img/kol32.png') no-repeat 0 0;*/
    width: 369px;
    /*height: 127px;*/
    float: left;
    margin-top: 10px;
}
#pic33{
    /*background: transparent url('img/kol33.png') no-repeat 0 0;*/
    width: 369px;
    /*height: 127px;*/
    float: right;
    margin-top: 10px;
}
#pic34{
    /*background: transparent url('img/kol34.png') no-repeat 0 0;*/
    width: 369px;
    /*height: 125px;*/
    float: left;
    margin-top: 10px;
}
#pic35{
    /*background: transparent url('img/kol35.png') no-repeat 0 0;*/
    width: 369px;
    float: right;
    margin-top: 10px;
}

.pict1, previewcontainer .pict1{
    background-color: #C0C0C0;
    overflow: hidden;
}
.pict2, previewcontainer .pict2{
    background-color: #979797;
    overflow: hidden;
}
.pict3, previewcontainer .pict3{
    background-color: #747474;
    overflow: hidden;
}
.pict4, previewcontainer .pict4{
    background-color: #545454;
    overflow: hidden;
}
.pict5, previewcontainer .pict5{
    background-color: #242424;
    overflow: hidden;
}


#pic35 .pict1{
    float: left;
    width: 185px;
    height: 127px;
}
#pic35 .pict2{
    float: left;
    height: 127px;
    width: 92px;
}
#pic35 .pict3{
    float: left;
    height: 127px;
    width: 92px;
}

#pic34 .pict1{
    float: left;

    width: 93px;
    height: 127px;
}
#pic34 .pict2{
    float: left;

    height: 127px;
    width: 185px;
}
#pic34 .pict3{
    float: left;

    height: 127px;
    width: 91px;
}
#pic33 .pict1{
    float: left;

    width: 185px;
    height: 127px;
}

#pic33 .pict2 {

    float: right;
    height: 64px;

    width: 184px;
}
#pic33 .pict3{

    float: right;
    height: 63px;

    width: 184px;
}
#pic32 .pict1{
    float: left;

    width: 123px;
    height: 127px;
}

#pic32 .pict2 {

    float: left;
    height: 127px;

    width: 123px;
}
#pic32 .pict3{

    float: right;
    height: 127px;

    width: 123px;
}



/** 4 **/

#pic42{
    background: transparent url('img/cztery1.png') no-repeat 0 0;
    width: 369px;
    /*height: 127px;*/
    float: left;
    margin-top: 10px;
}
#pic43{
    background: transparent url('img/cztery2.png') no-repeat 0 0;
    width: 369px;
    /*height: 127px;*/
    float: right;
    margin-top: 10px;
}
#pic44{
    background: transparent url('img/cztery3.png') no-repeat 0 0;
    width: 369px;
    /*height: 125px;*/
    float: left;
    margin-top: 10px;
}
#pic45{
    background: transparent url('img/cztery4.png') no-repeat 0 0;
    width: 369px;
    float: right;
    margin-top: 10px;
}

.pict1, previewcontainer .pict1{
    background-color: #C0C0C0;
    overflow: hidden;
}
.pict2, previewcontainer .pict2{
    background-color: #979797;
    overflow: hidden;
}
.pict3, previewcontainer .pict3{
    background-color: #747474;
    overflow: hidden;
}
.pict4, previewcontainer .pict4{
    background-color: #545454;
    overflow: hidden;
}
.pict5, previewcontainer .pict5{
    background-color: #242424;
    overflow: hidden;
}


#pic45 .pict1{
    float: left;
    width: 138px;
    height: 127px;
}
#pic45 .pict2{
    float: left;
    height: 63px;
    width: 93px;
}
#pic45 .pict3{
    float: left;
    height: 64px;
    margin-left: -93px;
    margin-top: 63px;
    width: 93px;
}
#pic45 .pict4{
    float: right;
    height: 127px;
    width: 138px;
}

#pic44 .pict1{
    float: left;

    width: 184px;
    height: 127px;
}
#pic44 .pict2{
    float: left;

    height: 127px;
    width: 47px;
}
#pic44 .pict3{
    float: left;

    height: 127px;
    width: 47px;
}
#pic44 .pict4{
    float: left;

    height: 127px;
    width: 91px;
}
#pic43 .pict1{
    float: left;

    width: 185px;
    height: 127px;
}

#pic43 .pict2 {

    float: left;
    height: 127px;

    width: 92px;
}
#pic43 .pict3{

    float: right;
    height: 63px;

    width: 92px;
}
#pic43 .pict4{
    float: right;
    height: 63px;
    width: 92px;
}
#pic42 .pict1{
    float: left;

    width: 92px;
    height: 127px;
}

#pic42 .pict2 {

    float: left;
    height: 127px;

    width: 93px;
}
#pic42 .pict3{

    float: left;
    height: 127px;

    width: 92px;
}
#pic42 .pict4{

    float: left;
    height: 127px;

    width: 92px;
}

#pic42 .pict1, #pic43 .pict1, #pic44 .pict1, #pic45 .pict1{
    background-color: #C0C0C0;
}
#pic42 .pict2, #pic43 .pict2, #pic44 .pict2, #pic45 .pict2{
    background-color: #979797;
}
#pic42 .pict3, #pic43 .pict3, #pic44 .pict3, #pic45 .pict3{
    background-color: #747474;
}
#pic42 .pict4, #pic43 .pict4, #pic44 .pict4, #pic45 .pict4{
    background-color: #545454;
}
/** /4*/



/** 5 **/

#pic52{
    background: transparent url('img/piec1.png') no-repeat 0 0;
    width: 369px;
    /*height: 127px;*/
    float: left;
    margin-top: 10px;
}
#pic53{
    background: transparent url('img/piec2.png') no-repeat 0 0;
    width: 369px;
    /*height: 127px;*/
    float: right;
    margin-top: 10px;
}


.pict1, previewcontainer .pict1{
    background-color: #C0C0C0;
    overflow: hidden;
}
.pict2, previewcontainer .pict2{
    background-color: #979797;
    overflow: hidden;
}
.pict3, previewcontainer .pict3{
    background-color: #747474;
    overflow: hidden;
}
.pict4, previewcontainer .pict4{
    background-color: #545454;
    overflow: hidden;
}
.pict5, previewcontainer .pict5{
    background-color: #242424;
    overflow: hidden;
}



#pic52 .pict1{
    float: left;
    width: 148px;
    height: 127px;
}
#pic52 .pict2{
    float: left;
    height: 63px;
    width: 74px;
}
#pic52 .pict3{
    float: left;
    height: 64px;
    margin-left: -74px;
    margin-top: 63px;
    width: 74px;
}
#pic52 .pict4{
    float: left;
    height: 127px;
    width: 74px;
}
#pic52 .pict5{
    float: right;
    height: 127px;
    width: 73px;
}

#pic53 .pict1{
    float: left;
    width: 74px;
    height: 127px;
}
#pic53 .pict2{
    float: left;
    width: 74px;
    height: 127px;
}
#pic53 .pict3{
    float: left;
    width: 74px;
    height: 127px;
}
#pic53 .pict4{
    float: right;
    width: 74px;
    height: 127px;
}
#pic53 .pict5{
    float: right;
    width: 73px;
    height: 127px;
}

#pic52 .pict1, #pic53 .pict1, #pic54 .pict1, #pic55 .pict1{
    background-color: #C0C0C0;
}
#pic52 .pict2, #pic53 .pict2, #pic54 .pict2, #pic55 .pict2{
    background-color: #979797;
}
#pic52 .pict3, #pic53 .pict3, #pic54 .pict3, #pic55 .pict3{
    background-color: #747474;
}
#pic52 .pict4, #pic53 .pict4, #pic54 .pict4, #pic55 .pict4{
    background-color: #545454;
}
#pic52 .pict5, #pic53 .pict5, #pic54 .pict5, #pic55 .pict5{
    background-color: #242424;
}
/** /5*/















.ccont{
    width: 365px;
    height: 127px;
    position: absolute;

    cursor: pointer;

}
.abupl{
    position: absolute;
    cursor: pointer;
}
.loading{
    background: transparent url('img/loading.gif') no-repeat center;
}
#pictureedit{
    background-color: #DEDEDE;
    border: 1px solid #CCCCCC;
    margin: 30px auto 40px;
    min-height: 60px;
    width: 754px;

}
#pictureedit form input{
    margin: 20px;
}
#activeeditor{
    /* dlaczego opacity 0??*/
    opacity: 1;
}
.acteditimgcnt{
    width: 700px;
    margin: auto;
    margin-bottom: 20px;
}
#previewarea{
    width: 700px;
    margin: auto;
}
.savecontentnow{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 280px !important;
}
.hidden{
    display: none;
}

.desccnt{
    border-top: 2px solid #3f3f3f;
    border-bottom: 2px solid #3f3f3f;
    margin: auto;
    margin-top: 31px;
    margin-bottom: 0px;
    width: 754px;
    height: 208px;

}
.desccnt p{
    float: left;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: -0.8px;
    line-height: 24px;
    padding: 2px;
    width: 180px;
}
.desccnt .x{
    background: transparent url('img/sharex.png') no-repeat 0 0;
    display: block;
    float: left;
    height: 34px;
    width: 34px;
    margin-top: 90px;
}
.textarea{ 
    background: transparent url('img/textarea.png') no-repeat 0 0;
    float: left;
    width: 460px;
    height: 147px;
    margin-left: 60px;
}
.textarea textarea{
    font-family: stymie,serif;
    background-color: transparent;
    border: 0 none;
    font-size: 30px;
    height: 147px;
    line-height: 49px;
    margin-top: 0px;
    resize: none;
    width: 460px;
}
.acreg{
    font-size: 30px;
    height: 40px;
    letter-spacing: -1px;
    margin-left: 245px;
    margin-top: 27px;
}
.acreg span, .acreg input, .acreg label{
    float: left;
}
.acreg input{
    display: block;
    margin-right: 20px;
    margin-top: 0px;
}
.acreg label{
    cursor: default;
}

.getuse.share{
    font-weight: normal;
    margin-top: 78px;
}
.getuse.share a{
    letter-spacing: -1px;
}

.thanklink{
    margin-left: 310px;
}
.bor{
    background-color: #FFFFFF;
    position: absolute;
}

.ipreview{
    background-position: center;
    background-repeat: no-repeat;
    width: 754px;
    height: 258px;
    display: block;
    margin: auto;
}
.pdesc{
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 2px solid #3f3f3f;
    border-bottom: 2px solid #3f3f3f;
    width: 754px;
    margin: auto;
}
.pdesc p.name{
    float: left;
    margin-top: 20px;
    
}
.rx{
    background: transparent url('img/x.png') no-repeat center bottom;
    float: right;
    height: 39px;
    margin-right: 60px;
    margin-top: 20px;
    width: 19px;
}
.rdesc{
    float: right;
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 50px;
    width: 400px;
}

/*paginate*/

.lpaginate {
    float: left;
    list-style: none outside none !important;
    margin: 10px 5px !important;
    padding-left: 0;
    padding-right: 0;
}

.activepage {
    border: 0px none;
    
    
}

.lpaginate a {
    font-size: 17px;
    line-height: 28px;
    text-decoration: none;
}

.activepage a {
    display: block;
    font-weight: bold;
    text-align: center;
    width: 20px;
   
}
/* /paginate*/
.smlett{
    font-size: 21px;
}


.doublemenu{
    float: left;
}
.doublemenu ul li.x{
    display: none;
}
.doublemenu ul li{
    float: left;
    color: #FFFFFF;
    width: auto;
    margin: 5px 20px;
}
.nohide{
    margin-top: 30px;
    opacity: 0;
}
.reg{
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
}
.kamilllink{
    
    display: block;
    float: left;
    height: 80px;
    margin-top: 390px;
    
    width: 170px;
}
.kamilllink a{
    display: block;
    height: 100%;
    width: 100%;
}
.accreg p{
    float: none;
    display: block;
}
a.reglink:hover{
    text-decoration: underline !important;
}
ol{
    margin-left: 30px;
}
ol li{
    list-style: decimal;
    margin-left: 40px;
}