<ul class="mt">
    <li><a href="/manage/">Strona główna</a></li>
    {*}<li><a href="/manage/users/list/">Zarządzaj użytkownikami</a></li>{*}
    <li><a href="/manage/login/out/">Wyloguj</a></li>
</ul>
<div class="clear" style="height: 30px;"></div>