<div class="clear1"></div>
<div class="blurbox w500 mt50">
    <form method="post" action="">
        <label>Adres email</label><br/>
        <input type="text" name="email" value=""/><br/>
        <label>Hasło</label><br/>
        <input type="password" name="password" value=""/><br/><br/>
        <input type="submit" value="Zaloguj się"/>
    </form>
</div>