
{if $users!=''}
    <ul class='ulist'>
    {foreach from=$users item=poz}
        <li class="loadresources">
            <input type="hidden" value="{$poz.id}"/><span class="username">{$poz.first_name|stripslashes|escape}, {$poz.last_name|stripslashes|escape} (<a href="http://facebook.com/{$poz.username}">{$poz.username}</a>)</span>
            <div class="clear1"></div>
            
        </li>
    {/foreach}
    </ul>
{/if}