<h1>{$user.info.first_name|stripslashes|escape} {$user.info.last_name|stripslashes|escape}</h1>
<div class="standardinfo">
    <table>
        <tr>
            <td>Username</td><td><a href="http://facebook.com/" target="_blank">{$user.info.username|stripslashes|escape}</a></td>
        </tr>
        <td>Imię</td><td>{$user.info.first_name|stripslashes|escape}</td>
        </tr>
        <td>Nazwisko</td><td>{$user.info.last_name|stripslashes|escape}</td>
        </tr>
        <td>Email</td><td>{$user.info.email|stripslashes|escape}</td>
        </tr>
    </table>

</div>
<div class="fbdata">
    <pre>
        {if $fbdata!=''}{$fbdata|stripslashes|escape}{else}brak danych. Możliwe, że access token wygasł/jest nieprawidłowy{/if}
    </pre>
</div>
<div class="clear"></div>


    {if $elements!=''}
    <ul class='ulist'>
    {foreach from=$elements item=poz}
        <li class="loadelement">
            <input type="hidden" value="{$poz.id}"/>
            <span>Data utworzenia: <b>{$poz.createdh}</b>, Status: {if $poz.status==0}niewidoczny{else}<span class="green">widoczny</span>{/if}</span>
            <div class="clear1"></div>
        </li>
    {/foreach}
    </ul>
{/if}
