body{
    background-image: url('panel/img/grey_wash_wall.jpg');
    background-repeat: repeat;
    color: #DEDEED;
}
.clear1{
    clear: both;
}
.clear{
    clear: both;
}
.blurbox{

    margin: 0 auto;

    padding: 10px;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.3),0 -1px 0 rgba(255,255,255,0.8),0 4px 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.3),0 -1px 0 rgba(255,255,255,0.8),0 4px 10px rgba(0,0,0,0.6);
    box-shadow: 0 1px 0 rgba(0,0,0,0.3),0 -1px 0 rgba(255,255,255,0.8),0 4px 10px rgba(0,0,0,0.6);
}

.w500{
    width: 500px;
}
.mt50{
    margin-top: 50px;
}
label{
    cursor: default;
    text-shadow: 0 0 4px #000;
}
input[type='text'], input[type='password']{
    border: 1px solid #4F4F5F;
    background-color: #999;
}
input[type='text']:focus, input[type='password']:focus{
    background-color: #AAA;
}

select{
    border: 1px solid #4F4F5F;
    background-color: #999;
}
textarea{
    border: 1px solid #4F4F5F;
    background-color: #999;
    width: 300px;
    height: 80px;
}
textarea:focus{
    background-color: #AAA;
}
input[type='submit']{
    color: #FFF;
    background-color: #AAA;
    text-shadow: 0 0 4px #000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

}
.content{
    width: 810px;
    display: block;
    margin: auto;
    border: 1px solid #888;
    margin-top: 40px;


}
.ulist{
    width: 100%;

}
.cnt2{
    display: block;
    margin: 20px;

}
.ulist li{
    background: transparent url('panel/img/wbg.png') repeat;
    margin-bottom: 4px;
    padding: 3px;
    cursor: pointer;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.standardinfo{
    float: left;
    width: 300px;
    border: 1px solid #888888;
    padding: 20px;
}
.fbdata{
    border: 1px solid #888888;
    float: right;
    overflow: auto;
    height: 200px;
    width: 420px;
}
pre{
    
    font-family: courier,Georgia,Serif;
    color: inherit;
    margin: 5px;
    padding: 5px;
}
.green{
    color: lightgreen;
}
.ready{
    margin: 40px auto;
}
.picturelist{
    margin-to: 40px;
}
.picturelist li{
    float: left;
    margin: 20px;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}
.iimg{
    display: block;
    width: 100%;
    height: 100%;
}
.manage p{
    float: left;
    margin-right: 20px;
}
.mt{
    margin: 40px auto;
    width: 800px;
}
.mt li{
    float: left;
    margin-right: 20px;
}