<div id="footer">
    <div class="doublemenu">
        {include file="i_menu_top.tpl"}
    </div>
      <p><a href="http://www.goldbachinteractive.com/home-pl" class="blank"><img src="css/img/logo.png" alt="Goldbach Interactive Poland"/></a>{*}designed by Goldbach Interactive 2013{*}</p>
</div>