<ul>
    <li class="start{if $actm==''} act{/if}"><a href="/mainpage/start/#backfromrules"><span>Start</span></a></li>
    <li class="x"><img src="css/img/mtx.png" alt=""/></li>
    <li class="zasady{if $actm=='zasady'} act{/if}"><a href="/info/zasady/#topgal"><span>Zasady</span></a></li>
    <li class="x"><img src="css/img/mtx.png" alt=""/></li>
    <li class="nagrody{if $actm=='nagrody'} act{/if}"><a href="/info/nagrody/#topgal"><span>Nagrody</span></a></li>
    <li class="x"><img src="css/img/mtx.png" alt=""/></li>
    <li class="galeria{if $actm=='galeria'} act{/if}"><a href="/info/start/#topgal"><span>Galeria</span></a></li>
    <li class="x"><img src="css/img/mtx.png" alt=""/></li>
    <li class="regulamin{if $actm=='regulamin'} act{/if}"><a class="blank" href="Regulamin_konkursu_podrozzauscisk_25.04.pdf"><span>Regulamin</span></a></li>
</ul>