<ul class="pcen">
    <li>
        <p>1 x bon Travel Pass Spa o wartości 1 500 zł</p>
    </li>
    <li>
        <p>3 x torba podróżna z kosmetykami Kamill</p>
    </li>
    <li class="nobg">
        <p>
            6 x zestaw kosmetyków Kamill
        </p>
    </li>
    
</ul>
<p class="getuse nagr"><a href="galeria/#topgal"><span>konkurs trwa do 12.05.2013</span><span class="img"><img src="css/img/arr.png" alt=""/></span></a></p>