<div class="likebox">
    <div class="lbt"><iframe src="//www.facebook.com/plugins/like.php?href={$FBPROFILE2LIKE_URL|escape:'html'}&amp;send=false&amp;layout=standard&amp;width=250&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:35px;" allowTransparency="true"></iframe></div>
    <div class="desc">Kamill Polska</div>
    <div class="clear1"></div>
    <div class="backlink"><a class="dblock" href="{$fanbacklink}"><span>Wróć</span></a></div>
</div>