<p class="getuse" style="{*}margin-top: 40px; margin-bottom: 40px;{*} text-align: left; font-size: 15px; cursor: default; margin-left: 40px;"> 
    <br/>
    <strong>Bon Travel Pass SPA otrzymuje:</strong>
</p>
<ol>
    <li>Pani Agnieszka Popiołek</li>
</ol>
<br/><br/>
<p class="getuse" style="{*}margin-top: 40px; margin-bottom: 40px;{*} text-align: left; font-size: 15px; cursor: default; margin-left: 40px;"> 
<strong>Walizki podróżne wraz z produktami Kamill otrzymują:</strong>
</p>
<ol>
    <li>Pani Karina Wasylkowska</li>
    <li>Pani Bernadetta Sowa</li>
    <li>Pani Kamila Ślepko</li>
</ol>
<br/><br/>
<p class="getuse" style="{*}margin-top: 40px; margin-bottom: 40px;{*} text-align: left; font-size: 15px; cursor: default; margin-left: 40px;"> 
<strong>Produkty Kamill otrzymają:</strong>
</p>
<ol>
    <li>Pani Joanna Włodarska</li>
    <li>Pani Adrianna Cz</li>
    <li>Pani Agata Wawrzyniak</li>
    <li>Kasia Kowalska</li>
    <li>Pani Kasia Sterecka</li>
    <li>Pani Katarzyna Psyk</li>
</ol>
<br/>
<p class="getuse" style="{*}margin-top: 40px; margin-bottom: 40px;{*} text-align: left; font-size: 15px; cursor: default; margin-left: 40px;"> 
<strong>Zwyciężczyniom serdecznie gratulujemy i zapraszamy do dalszej zabawy na fanpage Kamill</strong>
</p>
{include file="i_gallery.tpl"}
{include file="i_pagination.tpl"}
<div class="clear1"></div>
<p class="getuse" style="margin-top: 40px; margin-bottom: 40px; text-align: center; font-size: 15px; cursor: default;">
    Podróż za jeden uśmiech dobiegła końca!<br/>
    Zwycięzców konkursu ogłosimy do 17 maja 2013.<br/>
    Teraz wszystko w rękach naszego jury.<br/>
    Trzymajcie kciuki - za siebie i swoich znajomych!<br/>
</p>